<div class="card ">
    <h4 class="card-title text-center pt-2">Productos disponibles</h5>
    <div class="card-body overflow-auto" style="height: 435px;">        
        <table class="table table-bordered-table table-hover " >
            <thead>
                <tr>
                    <th style="width: 10px;">Codigo</th>
                    <th style="width: 35px;">Nombre</th>
                    <th style="width: 230px;">Descripcion</th>
                    <th style="width: 15px;" >Precio</th>
                    <th style="width: 15px;">"Stock</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody >
                <% for( let i = 0; i< productos.length ; i++) {%>
                    <tr>
                        <td style="color: black;"><%= productos[i].codigo %></td>
                        <td style="color: black;"><%=productos[i].nombre %></td>
                        <td style="color: black;"><%= productos[i].descripcion %></td>                        
                        <td style="color: black;"><%= productos[i].precio %></td>
                        <td style="color: black;"><%= productos[i].stock %></td> 
                        <td>
                            <a href="/editar-form/<%= productos[i].codigo %>"class="btn btn-info">Update</a>
                            <a href="/borrar/<%= productos[i].codigo %>" class="btn btn-danger">Eliminar</a>
                        </td>                                       
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div-card-body>
</div>